
 ion-content {
     --background: #000 url("../assets/beans.jpg") no-repeat center center / cover;
 }
 ion-card{
     background:#000;
     color:#fff;
 }

 ion-card-subtitle{
    background:#000;
    color:#fff;
 }
 ion-card-title{
    background:#000;
    color:#fff;
 }
 img{
     border-radius:5px;
 }