<ion-header>
</ion-header>
<ion-content class="background-image">
  <ion-grid style="height: 100%">
      <ion-row class="ion-align-items-center ion-justify-content-center" style="height: 100%; flex-direction: column">
          <ion-spinner name="ios"></ion-spinner>
          <img style="width:80%" src="assets/logo.png" alt="">
          <form [formGroup]="loginForm">
                <ion-input formControlName="email"  type="text" placeholder="Email"></ion-input>
                <ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
                <ion-button size="default" color="light" expand="block" [disabled]="!loginForm.valid" (click)="loginUser(loginForm)">Login</ion-button> 
          </form>

          <div style="color:#fff; text-align: center;">
          new to KOFI? <br>
          <a style="color:#fff; text-decoration: underline;" (click)="navigateRegister()">click here to register</a>
          </div>
        </ion-row>
      </ion-grid>
</ion-content>
